# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.vscode
views/public/html/report.html
/views/public/uploads
/views/public/files
/views/public/dist
/views/public/fonts
/views/public/index
/views/public/libs
/views/public/tasks
/views/public/scss
/views/public/assets
/views/public/js
/views/public/bank_details
