<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="./fav-icon.ico" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Birthday Reminder | Nsnemo</title>

    <meta name="description" content="" />

    <style>
      .loader {
        --r1: 154%;
        --r2: 68.5%;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: radial-gradient(
            var(--r1) var(--r2) at top,
            #0000 79.5%,
            #269af2 80%
          ),
          radial-gradient(
            var(--r1) var(--r2) at bottom,
            #269af2 79.5%,
            #0000 80%
          ),
          radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
          #ccc;
        background-size: 50.5% 220%;
        background-position: -100% 0%, 0% 0%, 100% 0%;
        background-repeat: no-repeat;
        animation: l9 1.4s linear forwards;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes l9 {
        33% {
          background-position: 0% 33%, 100% 33%, 200% 33%;
        }
        66% {
          background-position: -100% 66%, 0% 66%, 100% 66%;
        }
        100% {
          background-position: 0% 100%, 100% 100%, 200% 100%;
        }
      }

      #tableContainer {
        /* width: 1050px; */
        overflow-x: auto;
      }
      #candidatesTable {
        width: 100%;
        table-layout: fixed;
      }
      #candidatesTable th,
      #candidatesTable td {
        word-wrap: break-word;
        max-width: 150px;
      }
    </style>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Company - Nsnemo</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <div id="logoutContent"></div>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div
            class="app-brand demo mt-0"
            style="
              background-color: #008e9c;
              padding-top: 70px;
              padding-bottom: 50px;
            "
            id="leftLogo"
          ></div>

          <ul class="menu-inner py-1 pt-3" id="menuList"></ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          ></nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="container-fluid">
            <!-- <a href="./indexpage.html" class="btn btn-primary mt-3 mb-3">Back To Dashboard</a> -->
            <div class="container-fluid p-3 card mt-3">
              <h3 class="text-primary pb-0 mb-2">Birthday Reminder</h3>
              <p style="font-size: 12px" class="mt-0 pt-0">
                - Upcoming birthdays for a week are displayed below
              </p>
              <div class="col">
                <div class="d-flex align-items-center justify-content-start">
                  <label for="date" class="m-0">Form Date:</label>
                  <input
                    type="date"
                    id="date"
                    class="form-control ms-2 me-2"
                    style="width: 200px"
                  />
                  <label for="date" class="m-0">To Date:</label>
                  <input
                    type="date"
                    id="two_date"
                    class="form-control ms-2 me-2"
                    style="width: 200px"
                  />
                  <button id="submitBtn" class="btn text-primary border">
                    Submit
                  </button>
                </div>
              </div>
              <div id="loader" class="text-center" style="display: none">
                Loading...
              </div>
              <div
                id="error"
                class="text-center text-danger"
                style="display: none"
              >
                Error: Failed to fetch data.
              </div>
              <div id="tableContainer">
                <button
                  id="exportBtn"
                  class="btn float-end m-2 text-dark border"
                >
                  Export to Excel
                </button>
                <table
                  id="candidatesTable"
                  class="table table-sm table-bordered"
                >
                  <thead class="text-center">
                    <tr>
                      <th class="border-0 bg-dark text-white">S.No</th>
                      <th class="border-0 bg-dark text-white">Nemo&nbsp;Id</th>
                      <th class="border-0 bg-dark text-white">
                        First&nbsp;Name
                      </th>
                      <th class="border-0 bg-dark text-white">
                        Last &nbsp;Name
                      </th>
                      <th class="border-0 bg-dark text-white">Rank</th>
                      <th class="border-0 bg-dark text-white">Mobile</th>
                      <th class="border-0 bg-dark text-white">Email</th>
                      <th class="border-0 bg-dark text-white">DOB</th>
                      <th class="border-0 bg-dark text-white">Birthday</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

          <!-- /Account -->
          <!-- / Content -->

          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script>
      let activeMenu = "dashboard";
      let activesub = "dashboard";
      let currentPage = "Birthday";
    </script>
    <script src="./menu.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="../assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const token = localStorage.getItem("token");
        const dateInput = document.getElementById("date");
        const todateInput = document.getElementById("two_date");
        
        const submitBtn = document.getElementById("submitBtn");
        const loader = document.getElementById("loader");
        const error = document.getElementById("error");
        const tableContainer = document.getElementById("tableContainer");
        const candidatesTable = document
          .getElementById("candidatesTable")
          .getElementsByTagName("tbody")[0];
        let index = 1;
        submitBtn.addEventListener("click", function () {
          const selectedDate = dateInput.value;
          const selectedToDate = todateInput.value;
          
          fetchData(selectedDate, selectedToDate);
        });

        fetchData(); // Initial fetch for the next 7 days

        function fetchData(date, selectedToDate) {
          loader.style.display = "block";
          error.style.display = "none";

          axios
            .get(`${config.APIURL}candidate/birthday`, {
              params: { date, selectedToDate},
              headers: { Authorization: token },
            })
            .then((response) => {
              // Sort the candidates by upcoming birthdays
              const sortedCandidates = response.data.candidates.sort((a, b) => {
                const dobA = new Date(a.dob);
                const dobB = new Date(b.dob);
                const today = new Date();
                today.setHours(0, 0, 0, 0);
                const upcomingBirthdayA = calculateUpcomingBirthday(
                  dobA,
                  today
                );
                const upcomingBirthdayB = calculateUpcomingBirthday(
                  dobB,
                  today
                );
                return (
                  upcomingBirthdayA.daysUntilBirthday -
                  upcomingBirthdayB.daysUntilBirthday
                );
              });
              renderData(sortedCandidates);
            })
            .catch((error) => {
              console.error("Error fetching data:", error);
              showError();
            })
            .finally(() => {
              loader.style.display = "none";
            });
        }

        function renderData(candidates) {
          candidatesTable.innerHTML = "";

          const today = new Date();
          today.setHours(0, 0, 0, 0);

          candidates.forEach((candidate) => {
            const dob = new Date(candidate.dob);
            const upcomingBirthday = calculateUpcomingBirthday(dob, today);

            // Check if the upcoming birthday is within 7 days or if a specific date was provided
            if (upcomingBirthday.daysUntilBirthday <= 7 || dateInput.value) {
              const row = `
                          <tr>
                          <td>${index++}</td>
                              <td>${candidate.candidateId}</td>
                              <td>${candidate.fname}</td>
                              <td>${candidate.lname}</td>
                              <td>${candidate.c_rank}</td>
                              <td class="text-center">${candidate.c_mobi1}</td>
                              <td>${candidate.email1}</td>
                              <td class="text-center">${dob.toLocaleDateString()}</td>
                              <td class="text-center"><span class="badge ${
                                upcomingBirthday.class
                              }">${upcomingBirthday.text}</span></td>
                          </tr>
                      `;
              candidatesTable.insertAdjacentHTML("beforeend", row);
            }
          });

          tableContainer.style.display = "block";
        }

        function calculateUpcomingBirthday(dob, today) {
          const nextBirthday = new Date(
            today.getFullYear(),
            dob.getMonth(),
            dob.getDate()
          );
          if (today > nextBirthday) {
            nextBirthday.setFullYear(nextBirthday.getFullYear() + 1);
          }
          const daysUntilBirthday = Math.ceil(
            (nextBirthday - today) / (1000 * 60 * 60 * 24)
          );
          if (daysUntilBirthday === 0) {
            return {
              text: "Today!",
              class: "bg-success",
              daysUntilBirthday: daysUntilBirthday,
            };
          } else if (daysUntilBirthday === 1) {
            return {
              text: "Tomorrow",
              class: "bg-primary",
              daysUntilBirthday: daysUntilBirthday,
            };
          } else {
            return {
              text: `In ${daysUntilBirthday} days`,
              class: "bg-secondary",
              daysUntilBirthday: daysUntilBirthday,
            };
          }
        }

        function showError() {
          error.style.display = "block";
        }
      });

      const exportBtn = document.getElementById("exportBtn");

      exportBtn.addEventListener("click", function () {
        exportToExcel();
      });

      function exportToExcel() {
        const table = document.getElementById("candidatesTable");
        const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
        XLSX.writeFile(wb, "candidates.xlsx");
      }
      document.getElementById("logout").addEventListener("click", function () {
        // Display the modal with initial message
        var myModal = new bootstrap.Modal(
          document.getElementById("logoutModal")
        );
        myModal.show();

        // Send request to update logged status to false
        const userId = localStorage.getItem("userId");
        if (userId) {
          axios
            .put(`${config.APIURL}user/${userId}/logout`)
            .then((response) => {
              console.log("Logged out successfully");
            })
            .catch((error) => {
              console.error("Error logging out:", error);
            });
        } else {
          console.error("User ID not found in localStorage");
        }

        localStorage.clear();

        // Change the message and spinner after a delay
        setTimeout(function () {
          document.getElementById("logoutMessage").textContent =
            "Shutting down all sessions...";
        }, 1000);

        // Redirect after another delay
        setTimeout(function () {
          window.location.href = "loginpage.html";
        }, 2000);
      });
    </script>
  </body>
</html>
