<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <link rel="icon" type="image/x-icon" href="./fav-icon.ico" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Manage Company | Nsnemo</title>

    <meta name="description" content="" />

    <style>
      .loader {
        --r1: 154%;
        --r2: 68.5%;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: radial-gradient(
            var(--r1) var(--r2) at top,
            #0000 79.5%,
            #269af2 80%
          ),
          radial-gradient(
            var(--r1) var(--r2) at bottom,
            #269af2 79.5%,
            #0000 80%
          ),
          radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
          #ccc;
        background-size: 50.5% 220%;
        background-position: -100% 0%, 0% 0%, 100% 0%;
        background-repeat: no-repeat;
        animation: l9 1.4s linear forwards;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes l9 {
        33% {
          background-position: 0% 33%, 100% 33%, 200% 33%;
        }
        66% {
          background-position: -100% 66%, 0% 66%, 100% 66%;
        }
        100% {
          background-position: 0% 100%, 100% 100%, 200% 100%;
        }
      }
      .hidden-sec,
      .highcharts-credits {
        display: none !important;
      }
      .handsymb {
        cursor: pointer;
      }
      .bar-wrapper {
        display: flex;
      }
      .bar {
      display: inline-block;
      width: 80px;
      height: 20px;
      text-align: center;
      color: white;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }
    .yes {
      background-color: #008000;
    }
    .no {
      background-color: #C4A484;
    }
    </style>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Company - Nsnemo</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <div id="logoutContent"></div>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div
            class="app-brand demo mt-0"
            style="
              background-color: #008e9c;
              padding-top: 70px;
              padding-bottom: 50px;
            "
            id="leftLogo"
          ></div>

          <ul class="menu-inner py-1 pt-3" id="menuList"></ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          ></nav>
          <div class="container-fluid mt-3">
            <div class="d-flex justify-content-center" style="display: none">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark">
                  <input
                    type="radio"
                    name="options"
                    id="dailyButton"
                    autocomplete="off"
                    checked
                  />
                  Daily
                </label>
                <label class="btn btn-dark">
                  <input
                    type="radio"
                    name="options"
                    id="yesterdayButton"
                    autocomplete="off"
                  />
                  Yesterday
                </label>
                <label class="btn btn-dark">
                  <input
                    type="radio"
                    name="options"
                    id="weeklyButton"
                    autocomplete="off"
                  />
                  Weekly
                </label>
                <label class="btn btn-dark">
                  <input
                    type="radio"
                    name="options"
                    id="monthlyButton"
                    autocomplete="off"
                  />
                  Monthly
                </label>
                <input type="hidden" id="currentOption" value="1" />
              </div>
            </div>

            <div
              class="rounded-3 card p-3 mt-2"
              style="background-color: rgb(58, 186, 150)"
            >
              <div class="justify-content-between">
                <div class="row">
                  <div class="col-xl-10">
                    <h4 class="text-white p-3 mb-0">
                      Nemo Dashboard
                      <div
                        id="datetimedashboard"
                        style="font-size: 14px"
                        class="text-white p-3 ps-0 pb-0"
                      ></div>
                    </h4>
                  </div>
                  <div class="col-xl-2 p-3 mb-0" style="color: #fff">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        id="filterByUser"
                        name="filterByUser"
                        class="form-check-input"
                      />
                      <label class="form-check-label" for="filterByUser"
                        >Filter By User</label
                      >
                    </div>
                    <div class="form-check hidden-sec" id="user_list">
                      <select id="userList" class="form-select"></select>
                    </div>
                  </div>
                </div>
                <div></div>
              </div>

              <div class="row hidden-sec hidden-stats" id="chart-sec">
                <div class="col-sm-12 col-xl-12">
                  <div id="chartcontainer"></div>
                </div>

                <div class="col-sm-12 col-xl-12 mt-3">
                  <div id="chartcontainer1"></div>
                </div>
                <div class="col-sm-12 col-xl-12 mt-3">
                  <div id="chartcontainer2"></div>
                </div>
              </div>
              <div class="row m-3 mb-0 stats-count" id="stats-discussion">
                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('totalcalls')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-dark"
                          ><i class="bx bx-microphone"></i
                        ></span>
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./report.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Todays Calls:</span>
                    <div id="spinnerContainer1">
                      <!-- Spinner 1 will be dynamically inserted here -->

                      <h3 class="card-title mb-2">
                        <div id="callCount"></div>
                      </h3>
                      <small class="fw-medium" id="percentage1">
                        <i id="arrowIcon" class="bx"></i>
                        <span id="percentageChange"></span>
                      </small>
                    </div>
                  </div>
                </div>

                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('Created')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-success"
                          ><i class="bx bx-user"></i
                        ></span>
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./report.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Created:</span>
                    <div>
                      <!-- Spinner 1 will be dynamically inserted here -->

                      <h3 class="card-title mb-2">
                        <div id="signupCount" class="text-dark"></div>
                      </h3>
                    </div>
                  </div>
                </div>

                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('Proposed')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar flex-shrink-0">
                        <img
                          src="../../public/assets/img/icons/unicons/chart.png"
                          alt="cube"
                          class="rounded"
                        />
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./status.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Proposed:</span>

                    <h3 class="card-title mb-2">
                      <div id="proposedCount"></div>
                    </h3>
                    <small class="fw-medium" id="percentage2">
                      <i id="arrowIcon" class="bx"></i>
                      <span id="proposedArrowIcon"></span>
                      <span id="proposedPercentageChange"></span>
                    </small>
                  </div>
                </div>

                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('Approved')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary"
                          ><i class="bx bx-time-five"></i
                        ></span>
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./status.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Approved:</span>
                    <h3 class="card-title mb-2">
                      <div id="approvedCount"></div>
                    </h3>
                    <small class="fw-medium" id="percentage3">
                      <i id="arrowIcon" class="bx"></i>
                      <span id="approvedArrowIcon"></span>
                      <span id="approvedPercentageChange"></span>
                    </small>
                  </div>
                </div>

                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('Joined')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar flex-shrink-0 me-3">
                        <span class="avatar-initial rounded bg-label-success"
                          ><i class="bx bx-check-circle"></i
                        ></span>
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./status.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Joined:</span>
                    <h3 class="card-title mb-2">
                      <div id="joinedCount"></div>
                    </h3>
                    <small class="fw-medium" id="percentage4">
                      <i id="arrowIcon" class="bx"></i>
                      <span id="joinedArrowIcon"></span>
                      <span id="joinedPercentageChange"></span>
                    </small>
                  </div>
                </div>

                <div
                  class="card mt-3 col m-3 handsymb rounded-3"
                  onclick="gotoStats('Rejected')"
                >
                  <div class="card-body">
                    <div
                      class="card-title d-flex align-items-start justify-content-between"
                    >
                      <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-danger"
                          ><i class="bx bx-error"></i
                        ></span>
                      </div>

                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="cardOpt3"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div
                          class="dropdown-menu dropdown-menu-start"
                          aria-labelledby="cardOpt3"
                        >
                          <a class="dropdown-item" href="./status.html"
                            >View More</a
                          >
                        </div>
                      </div>
                    </div>

                    <span class="fw-medium d-block mb-1">Rejected:</span>
                    <h3 class="card-title mb-2">
                      <div id="rejectedCount"></div>
                    </h3>

                    <small class="fw-medium" id="percentage5">
                      <i id="arrowIcon" class="bx"></i>
                      <span id="rejectedArrowIcon"></span>
                      <span id="rejectedPercentageChange"></span>
                    </small>
                  </div>
                </div>
              </div>

              <div class="row m-1 mt-0 stats-count">
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('SignOff')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="sign-off"></span></h3>
                          <small>Sign Off</small>
                        </div>
                        <span class="badge bg-label-primary rounded-circle p-2">
                          <i class="bx bx-dollar bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('SignOn')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="contracts">0</span></h3>
                          <small>Sign On</small>
                        </div>
                        <span class="badge bg-label-success rounded-circle p-2">
                          <i class="bx bx-gift bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('EvaluationCount')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="evaluations">0</span></h3>
                          <small>Evaluation</small>
                        </div>
                        <span class="badge bg-label-success rounded-circle p-2">
                          <i class="bx bx-gift bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div style="border-bottom: 2px solid #d9dee3 !important">
                  &nbsp;
                </div>
            </div>
              <div class="row m-1 mt-0 stats-count">
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('OnBoard')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="onboardcount"></span></h3>
                          <small>On Board</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('DueforSignOff')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="signoffcount"></span></h3>
                          <small>Due for Sign Off </small>
                        </div>
                        <span class="badge bg-label-danger rounded-circle p-2">
                          <i class="bx bx-user bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('DueforRenewal')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="dueforrenewal"></span></h3>
                          <small>Due for Renewal</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-1 mt-0 stats-count">
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('SignOnDG')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="SignOnDG"></span></h3>
                          <small>Sign On DG</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('SignOffDG')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="SignOffDG"></span></h3>
                          <small>Sign Off DG</small>
                        </div>
                        <span class="badge bg-label-danger rounded-circle p-2">
                          <i class="bx bx-user bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('ContractExtension')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0">
                            <span id="ContractExtension"></span>
                          </h3>
                          <small>Contract Extension</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('EOCExceeded')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="EOCExceeded"></span></h3>
                          <small>EOC Exceeded</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-6 col-xl-3 handsymb"
                  onclick="gotoStats('SignOnPending')"
                >
                  <div class="card mt-3 col m-3 rounded-3">
                    <div class="card-body">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <div class="content-left">
                          <h3 class="mb-0"><span id="SignOnPending"></span></h3>
                          <small>SignOn Pending</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="bx bx-infinite bx-sm"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-1 mt-0 stats-count">
                <figure class="highcharts-figure">
                  <div id="rankWiseDiscussion"></div>
                </figure>
              </div>
              <div class="container-fluid">
              <h4 class="ms-0 mt-3 text-white">User & Rank Wise Calls Made</h4>
              <div class="card mt-3 col m-3 rounded-3">
                <div class="table-responsive">
                <table id="resultTable" class="table table-bordered table table-min-height">
                  <thead>
                    <tr id="rankHeader">
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
              </div>
              </div>

              <div class="container-fluid">
                <h4 class="ms-0 mt-3 text-white">Todays All Discussions</h4>

                <ul
                  id="discussionList"
                  class="list-group mt-3 border border-secondary-subtle mb-3 text-white"
                ></ul>
              </div>
            </div>
          </div>

          <footer
            class="footer mt-auto py-3 bg-footer-theme"
            id="footetcontent"
          ></footer>

          <!-- / Navbar -->

          <!-- Content wrapper -->

          <!-- Content wrapper -->
        </div>

        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <script>
      let activeMenu = "dashboard";
      let activesub = "dashboard";
      let currentPage = "Daily Dashboard";
    </script>
    <script src="./menu.js"></script>

    <script src="../assets/js/helper.js"></script>
    <script src="daily.js"></script>
    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="../assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </body>
</html>
