<!DOCTYPE html>

<html
  lang="en"
  class="light-style"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Reports | Nsnemo</title>

    <meta name="description" content="" />
    <style>
        .report-content {
          display: none;
        }
      </style>
    

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-misc.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

<body>
 <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">NSNEMO</h5>
            </div>
            <div class="modal-body text-center mb-4">
                <p id="logoutMessage">Logging you out...</p>
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>   <!-- Content -->

    <!--Under Maintenance -->
    <!-- <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Under Maintenance!</h2>
        <p class="mb-4 mx-2">Sorry for the inconvenience but we're performing some maintenance at the moment</p>
        <a href="indexpage.html" class="btn btn-primary">Back to home</a>
        <div class="mt-4">
          <img
            src="../assets/img/illustrations/girl-doing-yoga-light.png"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div> -->
    <!-- /Under Maintenance -->

    <!-- / Content -->
    <div class="container p-5">
        <h1>Reports</h1>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select a Report
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" onclick="showReport('newProfile')">New Profile</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('callsMade')">Calls Made</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('proposals')">Proposals</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('signOn')">Sign On</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('signOff')">Sign Off</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('dueForSignoff')">Due for Signoff</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('mis')">MIS</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('availableCandidates')">Available Candidates</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('onBoard')">On Board</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('reminder')">Reminder</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('crewListMonthWise')">Crew List Month Wise</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('reliefPlan')">Relief Plan</a></li>
            <li><a class="dropdown-item" href="#" onclick="showReport('dueForRenewal')">Due for Renewal</a></li>
          </ul>
        </div>
        
        <!-- Report Content -->
        <div id="newProfileContent" class="report-content" >
          <!-- Content for New Profile Report --><form id="newprofilesubmit">
          <div class="card card-body p-3 ">
          <h4>New Profile</h4>
          <div class="row">
          <div class="form-group col mb-2">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate">
        </div>
        <div class="form-group col mb-2">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate">
        </div>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="candidateId" name="candidateId">
            <label class="form-check-label" for="candidateId">Candidate ID</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fname" name="fname">
            <label class="form-check-label" for="fname">First Name</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="c_rank" name="c_rank">
            <label class="form-check-label" for="c_rank">Rank</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="c_vessel" name="c_vessel">
            <label class="form-check-label" for="c_vessel">Vessel Type</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="c_ad1" name="c_ad1">
            <label class="form-check-label" for="c_ad1">Address</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="c_city" name="c_city">
            <label class="form-check-label" for="c_city">City</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="nationality" name="nationality">
            <label class="form-check-label" for="nationality">Nationality</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="c_mobi1" name="c_mobi1">
            <label class="form-check-label" for="c_mobi1">Contact Number</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="last_company" name="last_company">
            <label class="form-check-label" for="last_company">Previous Company</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="email1" name="email1">
            <label class="form-check-label" for="email1">Email</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="last_salary" name="last_salary">
            <label class="form-check-label" for="last_salary">Last Salary</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="experience" name="experience">
            <label class="form-check-label" for="experience">Experience</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="dob" name="dob">
            <label class="form-check-label" for="dob">Date of Birth</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="avb_date" name="avb_date">
            <label class="form-check-label" for="avb_date">Availability</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="height" name="height">
            <label class="form-check-label" for="height">Height</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="weight" name="weight">
            <label class="form-check-label" for="weight">Weight</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="safety_shoe_size" name="safety_shoe_size">
            <label class="form-check-label" for="safety_shoe_size">Safety Shoe Size</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="boiler_suit_size" name="boiler_suit_size">
            <label class="form-check-label" for="boiler_suit_size">Boiler Suit Size</label>
        </div>
        <div>
        <button type="submit" class="btn btn-primary float-end" >Generate New Profile Report</button>
          </div>
          <div>
            
          </div>
          
          </div>
          <p class=" mb-0 pb-0 text-end" style="font-size: 10px;" > <strong class="text-primary">Note : </strong>Scroll Horizontally if multiple fields are selected</p>
          <div class=" rounded-3 bg-white">
           
          <div id="candidateTable" style="overflow-x: scroll;"></div>
          </div>
        </form>
        </div>
        <div id="callsMadeContent" class="report-content">
            <!-- Content for Calls Made Report -->
            <div class="card card-body">
                <h4>Calls Made</h4>
                <form id="callsMadeForm">
                    <div class="mb-3">
                        <label for="fromDate" class="form-label">From Date</label>
                        <input type="date" class="form-control" id="fromDate" name="fromDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="toDate" class="form-label">To Date</label>
                        <input type="date" class="form-control" id="toDate" name="toDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">User</label>
                        <select class="form-select" id="user" name="user">
                            <!-- Options for user dropdown will be added dynamically -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <p>Select fields to include:</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="candidateId" name="candidateId">
                            <label class="form-check-label" for="candidateId">Candidate ID</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="nationality" name="nationality">
                            <label class="form-check-label" for="nationality">Nationality</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="discussion" name="discussion">
                            <label class="form-check-label" for="discussion">Discussion</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="c_rank" name="c_rank">
                            <label class="form-check-label" for="c_rank">Current Rank</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="c_vessel" name="c_vessel">
                            <label class="form-check-label" for="c_vessel">Vessel</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="r_date" name="r_date">
                            <label class="form-check-label" for="r_date">Reminder Date</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="avb_date" name="avb_date">
                            <label class="form-check-label" for="avb_date">Availability</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div id="callsMadeTable"></div>
        </div>
        
        
        <div id="proposalsContent" class="report-content">
            <!-- Content for Proposals Report -->
            <div class="card card-body">
                <h4>Proposals</h4>
                <form id="discussionForm">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-control" id="status" name="status">
                            <option value="proposed">Proposed</option>
                            <option value="joined">Joined</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDates">Start Date:</label>
                        <input type="date" class="form-control" id="startDates" name="startDates">
                    </div>
                    <div class="form-group">
                        <label for="endDates">End Date:</label>
                        <input type="date" class="form-control" id="endDates" name="endDates">
                    </div>
                    <button type="submit" class="btn btn-primary">Fetch Discussions</button>
                </form>
                <div id="discussionResults"></div>
            </div>
        </div>
        
        <div id="signOnContent" class="report-content">
            <!-- Content for Sign On Report -->
            <div class="card card-body">
                <h4>Sign on</h4>
                <!-- Date selection form -->
                <form id="signOnForm">
                    <div class="mb-3">
                        <label for="startDatec" class="form-label">Start Date:</label>
                        <input type="date" id="startDatec" name="startDatec" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDatec" class="form-label">End Date:</label>
                        <input type="date" id="endDatec" name="endDatec" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>
                <!-- Table to display Sign On report data -->
                <table id="signOnTable" class="table">
                    <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Rank</th>
                            <th>Vessel</th>
                            <th>Sign On Date</th>
                        </tr>
                    </thead>
                    <tbody id="signOnTableBody">
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <div id="signOffContent" class="report-content">
            <!-- Content for Sign On Report -->
            <div class="card card-body">
                <h4>Sign off</h4>
                <!-- Date selection form -->
                <form id="signOffForm">
                    <div class="mb-3">
                        <label for="startDatec" class="form-label">Start Date:</label>
                        <input type="date" id="startDatec" name="startDatec" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDatec" class="form-label">End Date:</label>
                        <input type="date" id="endDatec" name="endDatec" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>
                <!-- Table to display Sign On report data -->
                <table id="signOffTable" class="table">
                    <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Rank</th>
                            <th>Vessel</th>
                            <th>Sign On Date</th>
                        </tr>
                    </thead>
                    <tbody id="signOffTableBody">
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="dueForSignoffContent" class="report-content">
            <!-- Content for Sign On Report -->
            <div class="card card-body">
                <h4>Due for Sign off</h4>
                <!-- Date selection form -->
                <form id="dueforsignoffform">
                    <div class="mb-3">
                        <label for="startDated" class="form-label">Start Date:</label>
                        <input type="date" id="startDated" name="startDated" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDated" class="form-label">End Date:</label>
                        <input type="date" id="endDated" name="endDated" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>
                <!-- Table to display Sign On report data -->
                <table id="DuesignOffTable" class="table">
                    <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Rank</th>
                            <th>Vessel</th>
                            <th>Sign On Date</th>
                        </tr>
                    </thead>
                    <tbody id="signOffTableBody">
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
        <div id="misContent" class="report-content">
          <!-- Content for MIS Report -->
          <div class="card card-body">
            <h4>MIS</h4>
            </div>
        </div>
        <div id="availableCandidatesContent" class="report-content">
            <!-- Content for Available Candidates Report -->
            <div class="card card-body">
                <h4>Available candidates</h4>
                <!-- Date selection form -->
                <form id="availableCandidatesForm">
                    <div class="mb-3">
                        <label for="startDatea" class="form-label">Start Date:</label>
                        <input type="date" id="startDatea" name="startDatea" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDatea" class="form-label">End Date:</label>
                        <input type="date" id="endDatea" name="endDatea" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>
                <!-- Table to display available candidates data -->
                <table id="availableCandidatesTable" class="table">
                    <thead>
                        <tr>
                            <th>Candidate ID</th>
                            <th>Name</th>
                            <th>Rank</th>
                            <th>Vessel</th>
                            <th>Avb Date</th>
                        </tr>
                    </thead>
                    <tbody id="availableCandidatesTableBody">
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="onBoardContent" class="report-content">
          <!-- Content for On Board Report -->
          <div class="card card-body">
            <h4>On Board </h4>
            </div>
        </div>
        <div id="reminderContent" class="report-content">
          <!-- Content for Reminder Report -->
          <div class="card card-body">
            <h4>Reminder</h4>
            </div>
        </div>
        <div id="crewListMonthWiseContent" class="report-content">
          <!-- Content for Crew List Month Wise Report -->
          <div class="card card-body">
            <h4>Crew list month wise</h4>
            </div>
        </div>
        <div id="reliefPlanContent" class="report-content">
          <!-- Content for Relief Plan Report -->
          <div class="card card-body">
            <h4>Relief Plan</h4>
            </div>
        </div>
        <div id="dueForRenewalContent" class="report-content">
            <!-- Content for Due for Renewal Report -->
            <div class="card card-body">
                <h4>Due for renewal</h4>
                <!-- Date selection form -->
                <form id="dueForRenewalForm">
                    <div class="mb-3">
                        <label for="startDater" class="form-label">Start Date:</label>
                        <input type="date" id="startDater" name="startDater" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="endDater" class="form-label">End Date:</label>
                        <input type="date" id="endDater" name="endDater" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>
                <div class="card p-3 mb-3 mt-3"><h4 class="text-primary">Document Renewals</h4>
                <!-- Table to display candidates due for renewal -->
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Document</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="documentCandidatesTableBody">
                        <!-- Table rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
            <div class="card p-3"><h4 class="text-primary">Medical Renewals</h4>
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Hospital Name</th>
                            <th>Place</th>
                            <th>Expiry Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="medicalCandidatesTableBody">
                        <!-- Table rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
                
            </div>
        </div>
        
        <a href="./indexpage.html" class="text-center">Back Home</a>

      </div>
      <!-- Bootstrap JS and jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
      <script>
        function showReport(reportId) {
          $('.report-content').hide(); // Hide all report contents
          $('#' + reportId + 'Content').show(); // Show the selected report content
        }
      </script>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>


   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <script src="./report.js"></script>
    <!-- Page JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
