<!DOCTYPE html>

<html
  lang="en"
  class="light-style"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Reports | Nsnemo</title>

    <meta name="description" content="" />

    

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-misc.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

<body>
 <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">NSNEMO</h5>
            </div>
            <div class="modal-body text-center mb-4">
                <p id="logoutMessage">Logging you out...</p>
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>   <!-- Content -->

    <!--Under Maintenance -->
    <!-- <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Under Maintenance!</h2>
        <p class="mb-4 mx-2">Sorry for the inconvenience but we're performing some maintenance at the moment</p>
        <a href="indexpage.html" class="btn btn-primary">Back to home</a>
        <div class="mt-4">
          <img
            src="../assets/img/illustrations/girl-doing-yoga-light.png"
            alt="girl-doing-yoga-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
            data-app-light-img="illustrations/girl-doing-yoga-light.png"
          />
        </div>
      </div>
    </div> -->
    <!-- /Under Maintenance -->

    <!-- / Content -->
     <div class="container p-5">
      <h1>Reports</h1>
      <form id="reportForm">
          <div class="mb-3">
              <label for="reportType" class="form-label">Select Report</label>
              <select id="reportType" class="form-select">
                  <option value="">Select Report</option>
                  <option value="New Profile">New Profile</option>
                  <option value="Contract report">Contract report</option>
              </select>
          </div>
          
          <!-- New Profile Fields -->
          <div id="newProfileFields" style="display: none;">
            <h2>New Profile Fields</h2>
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="candidateId" name="candidateId">
                <label class="form-check-label" for="candidateId">Candidate ID</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="fname" name="fname">
                <label class="form-check-label" for="fname">First Name</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="c_rank" name="c_rank">
                <label class="form-check-label" for="c_rank">Rank</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="c_vessel" name="c_vessel">
                <label class="form-check-label" for="c_vessel">Vessel Type</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="c_ad1" name="c_ad1">
                <label class="form-check-label" for="c_ad1">Address</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="c_city" name="c_city">
                <label class="form-check-label" for="c_city">City</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="nationality" name="nationality">
                <label class="form-check-label" for="nationality">Nationality</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="c_mobi1" name="c_mobi1">
                <label class="form-check-label" for="c_mobi1">Contact Number</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="last_company" name="last_company">
                <label class="form-check-label" for="last_company">Previous Company</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="email1" name="email1">
                <label class="form-check-label" for="email1">Email</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="last_salary" name="last_salary">
                <label class="form-check-label" for="last_salary">Last Salary</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="experience" name="experience">
                <label class="form-check-label" for="experience">Experience</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="dob" name="dob">
                <label class="form-check-label" for="dob">Date of Birth</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="avb_date" name="avb_date">
                <label class="form-check-label" for="avb_date">Availability</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="height" name="height">
                <label class="form-check-label" for="height">Height</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="weight" name="weight">
                <label class="form-check-label" for="weight">Weight</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="safety_shoe_size" name="safety_shoe_size">
                <label class="form-check-label" for="safety_shoe_size">Safety Shoe Size</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="boiler_suit_size" name="boiler_suit_size">
                <label class="form-check-label" for="boiler_suit_size">Boiler Suit Size</label>
            </div>

        </div>
  
  
        <div id="contractFields" style="display: none;">
            <h2>Contract Fields</h2>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="id" name="id">
                <label class="form-check-label" for="id">ID</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rank" name="rank">
                <label class="form-check-label" for="rank">Rank</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="company" name="company">
                <label class="form-check-label" for="company">Company</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vslName" name="vslName">
                <label class="form-check-label" for="vslName">Vessel Name</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vesselType" name="vesselType">
                <label class="form-check-label" for="vesselType">Vessel Type</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sign_on_port" name="sign_on_port">
                <label class="form-check-label" for="sign_on_port">Sign On Port</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sign_on" name="sign_on">
                <label class="form-check-label" for="sign_on">Sign On Date</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="wage_start" name="wage_start">
                <label class="form-check-label" for="wage_start">Wage Start Date</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="eoc" name="eoc">
                <label class="form-check-label" for="eoc">EOC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="wages" name="wages">
                <label class="form-check-label" for="wages">Wages</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="currency" name="currency">
                <label class="form-check-label" for="currency">Currency</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="wages_types" name="wages_types">
                <label class="form-check-label" for="wages_types">Wages Types</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sign_off_port" name="sign_off_port">
                <label class="form-check-label" for="sign_off_port">Sign Off Port</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sign_off" name="sign_off">
                <label class="form-check-label" for="sign_off">Sign Off Date</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="reason_for_sign_off" name="reason_for_sign_off">
                <label class="form-check-label" for="reason_for_sign_off">Reason for Sign Off</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="documents" name="documents">
                <label class="form-check-label" for="documents">Documents</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="aoa" name="aoa">
                <label class="form-check-label" for="aoa">AOA</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="aoa_number" name="aoa_number">
                <label class="form-check-label" for="aoa_number">AOA Number</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="emigrate_number" name="emigrate_number">
                <label class="form-check-label" for="emigrate_number">Emigrate Number</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="created_by" name="created_by">
                <label class="form-check-label" for="created_by">Created By</label>
            </div>
        </div>
        
        <button id="generateReport" type="button" class="btn btn-primary">
            Generate Report
        </button>
        
        <div id="reportTable" class="mt-5"></div>
        
  
         
          <a href='./indexpage.html'> > Back Home</a>
  
          <div id="reportTable" class="mt-5"></div>
      </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>


   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
    <script src="./report.js"></script>
    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
